ul{
  list-style-type: none;
  text-align: center;
}
li{
  display: inline;
  margin-right: 20px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
a{
  text-decoration: none;
  color: lightskyblue;
  font-size: 30px;
  font-weight: bold;
}